@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sharanya R - AE24090133</h1>
<<<<<<<<< Temporary merge branch 1
    <p class="display-4">Azure DevOps capstone-project 1</p>
=========
    <p class="display-4">Azure DevOps capstone project 2</p>
>>>>>>>>> Temporary merge branch 2
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
